<div class="relative w-full h-screen overflow-hidden pt-0">

  <video
    class="absolute top-0 left-0 w-full h-full object-cover"
    autoplay
    muted
    loop
  >
    <source src="assets/videos/Audi_hero_section.mp4" type="video/mp4" />
  </video>

  <div class="relative z-10 flex flex-col items-center justify-center h-full text-white px-4 bg-black bg-opacity-50">
    <div class="max-w-3xl text-center">
      <h1 class="text-4xl md:text-5xl font-bold mb-6 uppercase">
        Доставка авто з Європи та Америки
      </h1>
      <div class="absolute -bottom-4 sm:-bottom-5 md:-bottom-6 lg:-bottom-7 left-1/2 -translate-x-1/2 w-32 sm:w-52 md:w-72 lg:w-80 h-1 bg-gradient-to-r from-black via-[#3EF8F5] to-black"></div>
      <p class="text-lg md:text-xl mb-8">
          Ваш автомобіль з-за кордону — це більше, ніж просто транспортний засіб. Це ваш стиль життя та емоції, і ми зробимо все можливе, щоб його доставка була швидкою та безтурботною.
          Зроби перший крок до покупки омріяного, залишай заявку і наші експерти зв'яжуться з тобою.
      </p>
    </div>
  </div>
</div>