<div class="relative overflow-hidden w-[100vw] h-[100vh]">
  <!-- Placeholder Image -->
  <img
    [src]="placeholderImage"
    alt="background"
    class="absolute -top-[20%] scale-[1.09] w-full h-[120%] object-cover transition-all duration-700 ease-in-out"
    [class.opacity-0]="isVideoLoaded"
    [class.opacity-100]="!isVideoLoaded"
  />
  
  <!-- Video -->
  <video
    #videoElement
    playsinline
    loop
    [muted]="true"
    class="absolute -top-[20%] scale-[1.09] w-full h-[120%] object-cover"
    [class.opacity-0]="!isVideoLoaded"
    [class.opacity-100]="isVideoLoaded"
    (canplaythrough)="onVideoCanPlay()"
    preload="auto"
  >
    <source [src]="videoSrc" type="video/mp4" />
  </video>

  <!-- Content Overlay -->
  <div class="absolute z-10 inset-0 flex items-center justify-center">
    <div class="relative z-10 flex flex-col items-center justify-center text-white text-center px-4 sm:px-6 md:px-8 lg:px-12 xl:px-16 2xl:px-24 font-['Ubuntu'] max-w-4xl mx-auto">
      <h1 class="text-[12px] sm:text-[14px] md:text-[24px] lg:text-[30px] font-bold uppercase">
        ДОСТАВКА АВТО З ЄВРОПИ, АМЕРИКИ ТА КАНАДИ
      </h1>
      <div class="mt-2 w-24 sm:w-32 md:w-40 lg:w-48 h-1 bg-gradient-to-r from-black via-[#3EF8F5] to-black"></div>
      <p class="text-[10px] sm:text-[14px] md:text-[16px] lg:text-[20px] max-w-[90%] my-4">
        Ваш автомобіль з-за кордону — це більше, ніж просто транспортний засіб. Це ваш стиль життя та емоції, і ми зробимо все можливе, щоб його доставка була швидкою та безтурботною. Зроби перший крок до покупки омріяного, залишай заявку і наші експерти зв'яжуться з тобою.
      </p>
      <button class="border-2 border-[#3EF8F5] text-[#3EF8F5] font-bold py-1 sm:py-5 px-3 sm:px-10 rounded-full text-[12px] sm:text-[16px] hover:bg-[#3EF8F5] hover:text-black transition-colors duration-300">
        Подати заявку
      </button>
    </div>
  </div>
</div>