<section class="w-full bg-[#272727] py-16">
  <div class="mx-2 sm:mx-0">
    <div class="container mx-auto">
      <div class="w-full flex flex-col gap-4">
        <div class="mx-auto text-center">
          <span class="font-semibold text-white text-3xl"
            >Додаткові послуги від
          </span>
          <span class="text-white font-semibold text-3xl"> TWO CARS </span>
        </div>

        <div
          class="prettyLine sm:mx-auto sm:w-10/12 md:w-[540px] lg:w-6/12 h-[4px] bg-[#3ef8f5] rounded-lg mb-12"
        ></div>
      </div>

      <div class="flex flex-wrap justify-evenly gap-4">
        <div
          class="shadow-[0_0_4px_#3ef8f5] min-w-[250px] max-w-[500px] p-6 border-2 border-[#3ef8f5] rounded-[4px]"
        >
          <div class="mb-4">
            <img
              src="assets/images/detailing2.jpg"
              class="w-full h-[276px] object-cover rounded-[4px] mx-auto"
            />
          </div>
          <div class="flex flex-col gap-2 text-white">
            <span class="block mx-auto text-2xl font-medium">Детейлінг</span>
            <span class="break-all"
              >Підкресліть красу свого автомобіля за допомогою наших професійних
              послуг з детейлінгу. Ми пропонуємо комплексне очищення та обробку,
              щоб ваш автомобіль виглядав як новий. Від полірування кузова до
              глибокого очищення салону — ми дбаємо про кожну деталь,
              гарантуючи, що ваш автомобіль завжди буде в ідеальному
              стані.</span
            >
          </div>
        </div>

        <div
          class="min-w-[250px] shadow-[0_0_4px_#3ef8f5] max-w-[500px] p-6 border-2 border-[#3ef8f5] rounded-[4px]"
        >
          <div class="mb-4">
            <img
              src="assets/images/delivery.jpg"
              class="w-full h-[276px] object-cover rounded-[4px] mx-auto"
            />
          </div>
          <div class="flex flex-col gap-2 text-white">
            <span class="block mx-auto text-2xl font-medium"
              >Адресна доставка по Україні</span
            >
            <span class="break-all"
              >З нами доставка вашого нового автомобіля стає ще зручнішою! Ми
              пропонуємо адресну доставку по всій Україні, щоб ви могли отримати
              свій автомобіль в будь-який куточок країни. Незалежно від того, де
              ви знаходитесь, TWO CARS подбає про те, щоб ваш автомобіль прибув
              швидко та безпечно.</span
            >
          </div>
        </div>

        <div
          class="min-w-[250px] shadow-[0_0_4px_#3ef8f5] max-w-[500px] p-6 border-2 border-[#3ef8f5] rounded-[4px]"
        >
          <div class="mb-4">
            <img
              src="assets/images/CTO.jpg"
              class="w-full h-[276px] object-cover rounded-[4px] mx-auto"
            />
          </div>
          <div class="flex flex-col gap-2 text-white">
            <span class="block mx-auto text-2xl font-medium">СТО</span>
            <span class="break-all"
              >З TWO CARS ви можете бути впевнені, що ваш автомобіль знаходиться
              в надійних руках. Наші сертифіковані фахівці надають широкий
              спектр послуг з обслуговування та ремонту. Ми забезпечуємо
              професійну діагностику, заміну запчастин та інші послуги, щоб ваш
              автомобіль завжди залишався на дорозі без зайвих клопотів.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
