<section id="contact-us" class="bg-black">

    <div
        class="container mx-auto w-full h-auto min-h-[580px] flex flex-col items-center justify-center px-4 sm:px-8 md:px-16 lg:h-[580px]">
        @if (!isSubmited) {
        <div class="flex flex-col sm:flex-row gap-3 mx-auto text-center">
            <span class="text-5xl text-white font-extrabold">Залиште</span>
            <span class="text-5xl text-[#3EF8F5] font-extrabold">заявку</span>
        </div>
        <h4 class="text-base md:text-xl my-4 text-white text-center">
            Залиште свої контактні дані, і ми безкоштовно підберемо авто під ваші вимоги та бюджет
        </h4>

        <form class="flex flex-col w-full sm:w-2/3 md:w-[40vw] xl:w-2/5" [formGroup]="contactUsForm"
            (ngSubmit)="onSubmit()">
            <!-- Name field  -->
            <label class="text-white" for="name">Ім'я</label>
            <input
                class="w-full rounded-md py-3 px-4 my-2 text-gray-100 bg-gray-800 text-sm border border-cyan-500 focus:drop-shadow-[0_0_8px_#3ef8f5] transition-all outline-none"
                placeholder="Іван" id="name" type="text" formControlName="name">
            <div class="text-red-500" [@errorAnimation]
                *ngIf="nameControl && nameControl.errors?.['required'] && (nameControl.touched || nameControl.dirty)">
                Ім'я не може бути пустим
            </div>
            <div class="text-red-500" [@errorAnimation]
                *ngIf="nameControl && (nameControl.errors?.['minlength'] || nameControl.errors?.['maxlength']) && (nameControl.touched || nameControl.dirty)">
                Ім'я не може бути коротшим за 2 символи та довшим за 32
            </div>

            <!-- Phone number field  -->
            <label class="text-white" for="phoneNumber">Номер телефону</label>
            <input
                class="w-full rounded-md py-3 px-4 my-2 text-gray-100 bg-gray-800 text-sm border border-cyan-500 focus:drop-shadow-[0_0_8px_#3ef8f5] transition-all outline-none"
                placeholder="+380689999999" id="phoneNumber" type="text" formControlName="phoneNumber">

            <div class="text-red-500" [@errorAnimation]
                *ngIf="phoneControl && phoneControl.errors?.['required'] && (phoneControl.touched || phoneControl.dirty)">
                Введіть номер телефону
            </div>
            <div class="text-red-500" [@errorAnimation]
                *ngIf="phoneControl && phoneControl.errors?.['pattern'] && (!phoneControl.touched || phoneControl.dirty)">
                Введіть валідний номер телефону (Наприклад: +380689999999)
            </div>

            <!-- Submit button  -->
            <div class="mx-auto">
                <button
                    class="text-[#3EF8F5] hover:text-white font-semibold w-40 sm:w-48 md:w-56 bg mt-4 h-10 border-2 border-cyan-500 rounded-full cursor-pointer hover:bg-cyan-500 transition-colors"
                    type="submit" [disabled]="!contactUsForm.valid">Відправити</button>
            </div>
        </form>
        }
        <!-- Successful submit  -->
        @else {
        <div @swapAnimation class="flex flex-col items-center justify-center">
            <svg width="180px" height="180px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path d="M8.5 12.5L10.5 14.5L15.5 9.5" stroke="#3EF8F5" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path
                        d="M7 3.33782C8.47087 2.48697 10.1786 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 10.1786 2.48697 8.47087 3.33782 7"
                        stroke="#3EF8F5" stroke-width="1.5" stroke-linecap="round"></path>
                </g>
            </svg>
            <span class="text-5xl my-6 text-white font-extrabold text-center">Заявку залишено!</span>
            <h4 class="text-xl my-4 text-white text-center">
                Невдовзі наш спеціаліст зв'яжеться з вами
            </h4>
        </div>
        }
    </div>
</section>